@import '@mantine/core/styles.css';

@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply scroll-smooth
    font-generalSans
  }
}

@font-face {
  font-family: "GeneralSans";
  src: url("../public/font/GeneralSans-Regular.otf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "GeneralSans";
  src: url("../public/font/GeneralSans-Semibold.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../public/font/GeneralSans-Medium.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../public/font/GeneralSans-Extralight.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../public/font/GeneralSans-Light.otf");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "GeneralSans";
  src: url("../public/font/GeneralSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../public/font/GeneralSans-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../public/font/GeneralSans-Extralight.otf");
  font-weight: 200;
  font-style: normal;
}

